<a href="https://colab.research.google.com/github/DongHyun-Ham/my-project/blob/main/Project(week1)-(DongHyun-Ham).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 기본 세팅

In [ ]:
!pip install koreanize-matplotlib

Collecting koreanize-matplotlib
  Downloading koreanize_matplotlib-0.1.1-py3-none-any.whl.metadata (992 bytes)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.11/dist-packages (from koreanize-matplotlib) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->koreanize-matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib->koreanize-matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib->koreanize-matplotlib) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->koreanize-matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in /usr/local/lib/python3.11/dist-packages (from matplotlib->koreanize-matplotlib) (2.0.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib->koreanize-matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.11/dist-packages (from matplotlib->koreanize-matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->koreanize-matplotlib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.11/dist-packages (from matplotlib->koreanize-matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.7->matplotlib->koreanize-matplotlib) (1.17.0)
Downloading koreanize_matplotlib-0.1.1-py3-none-any.whl (7.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.9/7.9 MB 66.7 MB/s eta 0:00:00
Installing collected packages: koreanize-matplotlib
Successfully installed koreanize-matplotlib-0.1.1

In [ ]:
import koreanize_matplotlib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('서울일자리포털_인재정보_직종별,지역별_목록_20250325.csv', encoding='cp949')
df

,JBHNT_REQST_NO,SEX,AGE,ACDMCR_CMMN_CODE_SE,ACDMCR_CMMN_CODE_NM,WORK_AREA_CMMN_CODE_SE_1_1,WORK_AREA_CMMN_CODE_SE_1_2,WORK_AREA_CMMN_CODE_SE_2_1,WORK_AREA_CMMN_CODE_SE_2_2,HOPE_JSSFC_CMMN_CODE_SE_1,...,HOPE_JSSFC_CAREER_YY_MM,JBHNT_CRTFC_STTUS_CMMN_SE,JBHNT_CRTFC_STTUS_CMMN_SE_NM,SEARCH_KWRD_1,SEARCH_KWRD_2,SEARCH_KWRD_3,SEARCH_KWRD_4,SEARCH_KWRD_5,REGIST_DT_HM,UPDT_DT_HM
0,H103202409302766,여,67,J00106,고등학교,서울,강서구,서울,NaN,550200,...,10년0월,J03402,승인,NaN,NaN,NaN,NaN,NaN,2024-09-30 23:01:05.000,2024-09-30 23:01:09.000
1,H103202409302619,남,65,J00110,대학_대학교,경기,김포시,NaN,NaN,542000,...,신입,J03402,승인,NaN,NaN,NaN,NaN,NaN,2024-09-30 20:30:10.000,2024-09-30 20:30:16.000
2,H103202409302613,여,62,J00106,고등학교,서울,강서구,서울,NaN,232100,...,10년0월,J03402,승인,NaN,NaN,NaN,NaN,NaN,2024-09-30 20:22:36.000,2024-09-30 20:22:42.000
3,H103202409302600,여,57,J00108,전문대학,서울,강서구,서울,NaN,29900,...,신입,J03402,승인,NaN,NaN,NaN,NaN,NaN,2024-09-30 20:20:53.000,2024-09-30 20:21:09.000
4,H103202409302599,여,64,J00106,고등학교,서울,NaN,NaN,NaN,215301,...,10년0월,J03402,승인,NaN,NaN,NaN,NaN,NaN,2024-09-30 20:18:28.000,2024-09-30 20:18:33.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3678,H304201608292024,남,18,J00106,고등학교,서울,동대문구,서울,NaN,26301,...,신입,J03405,알선대기,NaN,NaN,NaN,NaN,NaN,2016-08-29 14:39:25.000,2016-08-29 14:39:28.000
3679,H304201608291865,남,18,J00106,고등학교,서울,중랑구,서울,NaN,541901,...,신입,J03404,알선,NaN,NaN,NaN,NaN,NaN,2016-08-29 14:16:19.000,2016-08-29 14:16:22.000
3680,H304201407291172,남,17,J00108,전문대학,서울,NaN,NaN,NaN,32100,...,신입,J03404,알선,NaN,NaN,NaN,NaN,NaN,2014-07-29 12:58:01.000,2014-07-29 12:58:39.000
3681,H316201407290473,여,18,J00106,고등학교,서울,금천구,서울,NaN,816100,...,신입,J03404,알선,NaN,NaN,NaN,NaN,NaN,2014-07-29 09:16:25.000,2014-07-29 09:16:28.000
3682,H304201406200533,남,17,J00106,고등학교,서울,NaN,NaN,NaN,835200,...,신입,J03404,알선,NaN,NaN,NaN,NaN,NaN,2014-06-20 14:00:39.000,2014-06-20 14:00:55.000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   JBHNT_REQST_NO                3683 non-null   object
 1   SEX                           3683 non-null   object
 2   AGE                           3683 non-null   int64
 3   ACDMCR_CMMN_CODE_SE           3683 non-null   object
 4   ACDMCR_CMMN_CODE_NM           3683 non-null   object
 5   WORK_AREA_CMMN_CODE_SE_1_1    3522 non-null   object
 6   WORK_AREA_CMMN_CODE_SE_1_2    3280 non-null   object
 7   WORK_AREA_CMMN_CODE_SE_2_1    2989 non-null   object
 8   WORK_AREA_CMMN_CODE_SE_2_2    1366 non-null   object
 9   HOPE_JSSFC_CMMN_CODE_SE_1     3683 non-null   int64
 10  HOPE_JSSFC_CMMN_CODE_SE_NM_1  3683 non-null   object
 11  HOPE_JSSFC_CAREER_YY_CO_1     1683 non-null   float64
 12  HOPE_JSSFC_CAREER_MONTH_CO_1  1683 non-null   float64
 13  HOPE_JSSFC_CAREER_YY_MM       3683 non-null   object
 14  JBHNT_CRTFC_STTUS_CMMN_SE     3683 non-null   object
 15  JBHNT_CRTFC_STTUS_CMMN_SE_NM  3683 non-null   object
 16  SEARCH_KWRD_1                 299 non-null    object
 17  SEARCH_KWRD_2                 201 non-null    object
 18  SEARCH_KWRD_3                 121 non-null    object
 19  SEARCH_KWRD_4                 63 non-null     object
 20  SEARCH_KWRD_5                 24 non-null     object
 21  REGIST_DT_HM                  3683 non-null   object
 22  UPDT_DT_HM                    3683 non-null   object
dtypes: float64(2), int64(2), object(19)
memory usage: 661.9+ KB

In [ ]:
df["HOPE_JSSFC_CMMN_CODE_SE_NM_1"].unique()

array(['육아 도우미(베이비시터)', '경비원(건물 관리원)', '보육 교사', '기타 사무원', '교사 보조원',
       '사무 보조원(공공기관)', '건물 경비원(청사,학교,병원,상가,빌딩,공장 등)',
       '건물 청소원(공공건물,아파트,사무실,병원,상가,공장 등)', '재가 요양보호사', '아파트·빌라 경비원',
       '건물 보수원 및 영선원(아파트 기계·전기 시설관리 제외)', '청소원', '사무 보조원(일반사업체)',
       '신문·음료(우유·요구르트 등) 기타 배달원', '단체 급식 보조원',
       '기타 항공·철도운송종사원(항공기유도원·화물열차차장·신호수)', '주차 관리·안내원', '시설 요양보호사(노인요양사)',
       '보일러 설치·정비원', '기계·무인 경비원(해당 경비지도사 포함)', '주방 보조원',
       '유치원·어린이집 급식 조리사', '방역원(해충퇴치원 포함)', '사서',
       '기타 판매 단순 종사원(전단지배포, 벽보원, 물품 보관원)', '재무·회계·경리 부서장',
       '기타 서비스 단순 종사원', '요양 보호사 및 간병인', '관광 및 통근·통학·학원 및 기타 버스 운전원',
       '기타 건물 관리원(공원, 종교시설 등)', '공공행정 사무원', '아파트 관리소장', '편의점 판매원',
       '상점 판매원', '환경 미화원', '복지시설 보조원', '화학·환경·에너지 분야 단순 종사원',
       '생활용품 대여원(정수기,가전제품,의복,어린이 용품)', '경비 관리자', '총무 및 일반 사무원',
       '발전·배전 장치 조작원', '은행 사무원(출납창구 제외)', '컴퓨터 설치·수리원(컴퓨터A/S원)',
       '경비·청소 관리자', '건축 목공', '기타 예능 강사(바둑·웅변·연기·꽃꽂이·종이접기 등)',
       '기타 자동차 운전원', '지게차 운전원', '기타 사회복지 종사원', '재봉사', '사업체 구내식당 급식 조리사',
       '영어 강사', '용접원', '배송·납품 운전원(납품영업 포함)', '자동차 정비원',
       '금융 컨설턴트, PB 등 기타 금융·보험 전문가', '조경원', '그 외 사회복지 종사원', '대형마트 판매원',
       '한식 조리사(일반 음식점)', '아동 생활지도원', '보육시설 서비스 종사원', '패턴사', '빌딩 관리소장',
       '냉·난방 설비 조작원', '냉동·냉장·공조기 설치·정비원', '택배원', '산업 안전원 및 위험물 관리원',
       '지하철 택배원', '부동산 컨설턴트 및 중개인', '소규모 매장점장(매장매니저·매장슈퍼바이저)', '사회복지사',
       '조경 식재원', '학교행정 사무원(교무)', '건물용 냉난방 설비 조작원', '인사·교육·훈련 사무원',
       '노선버스 운전원(시내, 마을, 시외, 고속)', '기타 판매 단순 종사원', '기계감리 기술자',
       '기타 자동차 운전원(렌터카,구급차,우편차,자동차선적 등)', '형틀 목공(거푸집 설치공)',
       '기타 전기·전자 기기 설치·수리원', '안내·접수원 및 전화교환원', '도시·교통 전문가',
       '펄프·종이 제조장치 조작원', '제조 단순 종사원', '건설·채굴 단순 종사원', '주차 단속원 및 안전 순찰원',
       'CNC 선반 조작원(NC 선반 조작원)', '재활용품 및 폐기물 수거원', '화물차·특수차 운전원',
       '주방 보조원(일반 음식점)', '공예원', '문리·어학 강사', '매장 정리원(매장 보조원)', '예능 강사',
       '국어 강사', '음악 강사', '독서·논술 강사', '경리 사무원', '간호조무사(요양병원 제외)',
       '노인 생활지도원', '기타 조리사', '간호사', '섬유·의복 분야 단순 종사원',
       '장애인 생활지도원(장애인활동보조원 포함)', '제과·제빵원', '주차 운전원', '운송 관리자(부서장)',
       '고객 상담원 및 모니터 요원', '경·소형 화물차 운전원', '빌딩 전기관리원', '심리상담 전문가',
       '전산자료 입력원 및 사무 보조원', '기타 서비스 단순종사원(사우나,찜질방 정리원 등)', '일식 조리사',
       '자재·구매·물류 사무원', '대학 시간강사(초빙,겸임,BK,강의전담 교수 등 비전임교원 포함)',
       '환경미화원 및 재활용품 수거원', '사회복지사(사회복지시설)', '교사보조 및 보육보조 서비스 종사원',
       '공사현장 경비원', '승용차 운전원(자가용 운전원)', '고객 상담원(백화점·마트)', '승합차 운전원',
       '건축설비 기술자', '한식 조리사', '일본어 강사', '외벽 및 창문 청소원', '회계 사무원',
       '행정사·문서대행자', '창고 관리원(자재 검수원 포함)', '세탁원(다림질원)', '병원 코디네이터',
       '간판 제작·설치원', '세차원 및 운송장비 청소원', '화학 제조 관리자(공장장)', '기타 경영지원 서비스 관리자',
       '광고·홍보 전문가', '단순 경리 사무원', '계기 검침원 및 가스 점검원', '데스크 안내원',
       '환경·청소 관리자', '부동산·임대업 관리자', '버스 운전원', '음료 조리사(바리스타 포함)', '환경 감시원',
       '사회복지사(공공행정)', '건축 석공', '기술 영업원', '간호조무사', '특수교육 교사', '해외 영업원(영어)',
       '임업 단순 종사원(산림보호감시, 산불감시원 등)', '아파트 전기관리원', '방문 판매원',
       '건설·채굴 기계 운전원', '경리 사무원(아파트·빌딩)', '재가 간병인', '무용 강사', '가사 도우미',
       '영업·판매 관리자', '교육·훈련 사무원', '수학 교사', '영업 관리자(영업소장·지점장)',
       '식품공학 기술자 및 연구원', '시설·호송·특수 경비원(해당 경비지도사 포함)', '학교 급식 조리사',
       '정보통신 관리자(부서장)', '백화점 판매원', '그 외 외국어 강사', '내선 전기공(건물 내 전기공사원)',
       '통역가(중국어)', '토목감리 기술자',
       '내장 목공(인테리어 목공 - 나무창호, 주방가구, 싱크대, 인테리어 치장)', '물건·이삿짐 운반원',
       '콜센터 상담원(콜센터·고객센터·CS센터)', '택시 운전원', '방과후 교사 및 지도사',
       '한국어 강사(다문화 언어지도사 포함)', '숙박시설서비스원', '기타 보건·의료 종사원',
       '종이제품 생산기계 조작원', '굴착기(굴삭기,포클레인) 운전원', '미술 강사', '기타 배관공',
       '공작기계 설치·정비원', '웹 기획자', '조경시설물 설치원', '가족·학교·아동·청소년·노인·중독 등 상담 전문가',
       '청소년 지도사', '기획·마케팅 사무원', '기타 텔레마케터', '제조·생산 관리자', '협회·회원단체 사무원',
       '데이터 전문가', 'IT 감리 전문가(시스템 감리)', '경영 기획 사무원', '번역가 및 통역가',
       '보안 관제원(경비 관제원)', '입주 가사도우미', '식품가공 제조 관리자(공장장)', '피부 및 체형 관리사',
       '주유원(주유판매원)', '관광통역 안내원', '홀서빙원', '각종 단체 및 기타 고객서비스 관리자',
       '초등학교 교사', '건물 도장공', 'IT 컨설턴트', '통계·설문 조사원(슈퍼바이저 포함)',
       '승강기 설치·정비원', '노무 사무원', '과학 강사', '인테리어 디자이너', '직업상담사',
       '건축가(건축설계 포함)', '치과기공사', '사회복지 관리자(부서장)', '무역 사무원(영어)', '일반 영업원',
       '공장 전기관리원', '견인차·유조차·구난차·청소차 등 특수차 운전원', '병원 급식 조리사', '미용사',
       '기타 건설 기능원(건물해체,정화조설치,방음벽설치 등)', '반도체공학 기술자 및 연구원',
       '법률 사무원(법원, 로펌, 법무사무소 등)', '상담 전문가', '소방시설·설비 시공 기술자',
       '간병인(재가 제외)', '장례 지도사 및 장례 상담원', '임산물 채취 및 기타 임업 종사원',
       '무역 사무원(중국어)', '건설 배관공', '사회복지프로그램 운영자', '섬유·의류 제조 관리자(공장장)',
       '콘크리트공', '호송차량 운전원', '해외 영업원', '기계·금속 분야 단순 종사원',
       '전기공사 기술자(전기견적, 공무포함)', '정부·공공 행정 전문가', '미장공', '무역 사무원',
       '기타 보건·의료 서비스 종사원', '신용 추심원(채권 관리원)', '음식 배달원', '텔레마케터(콜센터)',
       '회계사', '건축감리 기술자', '건축시공 기술자(건축견적, 공무포함)', '병원행정 사무원(원무)',
       '요금 정산원(주차요금,통행료)', '기타 기술·기능 강사', '건설수주 영업원', '방재 기술자 및 연구원',
       '박물관,미술관,문화,역사,자연환경 등 각종 해설사', '말벗,노년플래너 등 기타 개인 생활 서비스원',
       '유통·매장·창고 감시원', '생산·품질 사무원 및 관리원(그 외 분야)', '기타 기계 조립·검사원',
       '전기 부품·제품 생산기계 조작원', '피부 및 체형 관리사(발관리사 포함)', '중식 조리사',
       '기타 공업기계 설치·정비원', '국악인 및 전통 예능인', '문화재보존원(컨서베이터)', '기타 경호·보안 종사원',
       '과외 교사', '물류 사무원(물류 관리사)', '기타 음식서비스 종사원(병원 배식원)',
       '생산·품질 사무원 및 관리원(전기·전자·컴퓨터)', '인쇄, 목재, 가구 및 기타 제조 분야 단순 종사원',
       '마케팅·광고·홍보·상품기획 사무원', '건축안전·환경·품질·에너지관리 기술자', '인사·노무·교육·총무·감사 부서장',
       '시민단체 활동가', '자재·구매 사무원(전기·전자·컴퓨터)', '국가·지방행정 사무원', '일반기계 조립원',
       '전자 부품·제품 생산기계 조작원'], dtype=object)

In [ ]:
df["HOPE_JSSFC_CMMN_CODE_SE_NM_1"].value_counts()

HOPE_JSSFC_CMMN_CODE_SE_NM_1
건물 청소원(공공건물,아파트,사무실,병원,상가,공장 등)    593
건물 경비원(청사,학교,병원,상가,빌딩,공장 등)        532
경비원(건물 관리원)                        339
청소원                                274
재가 요양보호사                           204
                                  ...
시민단체 활동가                             1
자재·구매 사무원(전기·전자·컴퓨터)                 1
국가·지방행정 사무원                          1
일반기계 조립원                             1
전자 부품·제품 생산기계 조작원                    1
Name: count, Length: 282, dtype: int64

# 데이터 분석(성별 and 나이대)

In [ ]:
조건 = "SEX == '남'"
filtered_df = df.query(조건)

filtered_count = len(filtered_df)

total_count = len(df)

percentage = (filtered_count / total_count) * 100

print(f"조건에 맞는 인원 수: {filtered_count}명")
print(f"전체 인원 수: {total_count}명")
print(f"비율: {percentage:.2f}%")

조건에 맞는 인원 수: 2480명
전체 인원 수: 3683명
비율: 67.34%

In [ ]:
조건 = "SEX == '여'"
filtered_df = df.query(조건)

filtered_count = len(filtered_df)

total_count = len(df)

percentage = (filtered_count / total_count) * 100

print(f"조건에 맞는 인원 수: {filtered_count}명")
print(f"전체 인원 수: {total_count}명")
print(f"비율: {percentage:.2f}%")

조건에 맞는 인원 수: 1203명
전체 인원 수: 3683명
비율: 32.66%

In [ ]:
조건 = "SEX == '남' and AGE <= 40"
filtered_df = df.query(조건)

filtered_count = len(filtered_df)

total_count = len(df)

percentage = (filtered_count / total_count) * 100

print(f"조건에 맞는 인원 수: {filtered_count}명")
print(f"전체 인원 수: {total_count}명")
print(f"비율: {percentage:.2f}%")

조건에 맞는 인원 수: 7명
전체 인원 수: 3683명
비율: 0.19%

In [ ]:
조건 = "SEX == '남' and AGE > 40"
filtered_df = df.query(조건)

filtered_count = len(filtered_df)

total_count = len(df)

percentage = (filtered_count / total_count) * 100

print(f"조건에 맞는 인원 수: {filtered_count}명")
print(f"전체 인원 수: {total_count}명")
print(f"비율: {percentage:.2f}%")

조건에 맞는 인원 수: 2473명
전체 인원 수: 3683명
비율: 67.15%

In [ ]:
조건 = "SEX == '여' and AGE <= 40"
filtered_df = df.query(조건)

filtered_count = len(filtered_df)

total_count = len(df)

percentage = (filtered_count / total_count) * 100

print(f"조건에 맞는 인원 수: {filtered_count}명")
print(f"전체 인원 수: {total_count}명")
print(f"비율: {percentage:.2f}%")

조건에 맞는 인원 수: 1명
전체 인원 수: 3683명
비율: 0.03%

In [ ]:
조건 = "SEX == '여' and AGE > 40"
filtered_df = df.query(조건)

filtered_count = len(filtered_df)

total_count = len(df)

percentage = (filtered_count / total_count) * 100

print(f"조건에 맞는 인원 수: {filtered_count}명")
print(f"전체 인원 수: {total_count}명")
print(f"비율: {percentage:.2f}%")

조건에 맞는 인원 수: 1202명
전체 인원 수: 3683명
비율: 32.64%

# 데이터 분석(건물 경비원 (남/여) 비교 지역=(서울))

In [ ]:
조건 = "SEX == '남' and HOPE_JSSFC_CMMN_CODE_SE_NM_1 == '건물 경비원(청사,학교,병원,상가,빌딩,공장 등)' and WORK_AREA_CMMN_CODE_SE_1_1 == '서울'"
filtered_df = df.query(조건)

filtered_count = len(filtered_df)

total_count = len(df)

percentage = (filtered_count / total_count) * 100

print(f"조건에 맞는 인원 수: {filtered_count}명")
print(f"전체 인원 수: {total_count}명")
print(f"비율: {percentage:.2f}%")

조건에 맞는 인원 수: 463명
전체 인원 수: 3683명
비율: 12.57%

In [ ]:
조건 = "SEX == '여' and HOPE_JSSFC_CMMN_CODE_SE_NM_1 == '건물 경비원(청사,학교,병원,상가,빌딩,공장 등)' and WORK_AREA_CMMN_CODE_SE_1_1 == '서울'"
filtered_df = df.query(조건)

filtered_count = len(filtered_df)

total_count = len(df)

percentage = (filtered_count / total_count) * 100

print(f"조건에 맞는 인원 수: {filtered_count}명")
print(f"전체 인원 수: {total_count}명")
print(f"비율: {percentage:.2f}%")

조건에 맞는 인원 수: 0명
전체 인원 수: 3683명
비율: 0.00%

# 데이터 분석 (건물 청소원(공공건물,아파트,사무실,병원,상가,공장 등) 비교 지역= (서울))

In [ ]:
조건 = "SEX == '남' and HOPE_JSSFC_CMMN_CODE_SE_NM_1 == '건물 청소원(공공건물,아파트,사무실,병원,상가,공장 등)' and WORK_AREA_CMMN_CODE_SE_1_1 == '서울'"
filtered_df = df.query(조건)

filtered_count = len(filtered_df)

total_count = len(df)

percentage = (filtered_count / total_count) * 100

print(f"조건에 맞는 인원 수: {filtered_count}명")
print(f"전체 인원 수: {total_count}명")
print(f"비율: {percentage:.2f}%")

조건에 맞는 인원 수: 271명
전체 인원 수: 3683명
비율: 7.36%

In [ ]:
조건 = "SEX == '여' and HOPE_JSSFC_CMMN_CODE_SE_NM_1 == '건물 청소원(공공건물,아파트,사무실,병원,상가,공장 등)' and WORK_AREA_CMMN_CODE_SE_1_1 == '서울'"
filtered_df = df.query(조건)

filtered_count = len(filtered_df)

total_count = len(df)

percentage = (filtered_count / total_count) * 100

print(f"조건에 맞는 인원 수: {filtered_count}명")
print(f"전체 인원 수: {total_count}명")
print(f"비율: {percentage:.2f}%")

조건에 맞는 인원 수: 300명
전체 인원 수: 3683명
비율: 8.15%

# 여성들 중에서 건물 청소원의 비율과 남성들 중에서 건물 경비원의 비율 분석

In [ ]:
조건 = "SEX == '남' and HOPE_JSSFC_CMMN_CODE_SE_NM_1 == '건물 경비원(청사,학교,병원,상가,빌딩,공장 등)' and WORK_AREA_CMMN_CODE_SE_1_1 == '서울'"
filtered_df = df.query(조건)

filtered_count = len(filtered_df)

조건2 = '''SEX == '남' '''
filltered_df2 = df.query(조건2)

total_count = len(filltered_df2)

percentage = (filtered_count / total_count) * 100

print(f"조건에 맞는 인원 수: {filtered_count}명")
print(f"전체 인원 수: {total_count}명")
print(f"비율: {percentage:.2f}%")

조건에 맞는 인원 수: 463명
전체 인원 수: 2480명
비율: 18.67%

In [ ]:
조건 = "SEX == '남' and HOPE_JSSFC_CMMN_CODE_SE_NM_1 == '건물 청소원(공공건물,아파트,사무실,병원,상가,공장 등)' and WORK_AREA_CMMN_CODE_SE_1_1 == '서울'"
filtered_df = df.query(조건)

filtered_count = len(filtered_df)

조건2 = '''SEX == '남' '''
filltered_df2 = df.query(조건2)

total_count = len(filltered_df2)

percentage = (filtered_count / total_count) * 100

print(f"조건에 맞는 인원 수: {filtered_count}명")
print(f"전체 인원 수: {total_count}명")
print(f"비율: {percentage:.2f}%")

조건에 맞는 인원 수: 271명
전체 인원 수: 2480명
비율: 10.93%

In [ ]:
조건 = "SEX == '여' and HOPE_JSSFC_CMMN_CODE_SE_NM_1 == '건물 청소원(공공건물,아파트,사무실,병원,상가,공장 등)' and WORK_AREA_CMMN_CODE_SE_1_1 == '서울'"
filtered_df = df.query(조건)

filtered_count = len(filtered_df)

조건2 = '''SEX == '여' '''
filltered_df2 = df.query(조건2)

total_count = len(filltered_df2)

percentage = (filtered_count / total_count) * 100

print(f"조건에 맞는 인원 수: {filtered_count}명")
print(f"전체 인원 수: {total_count}명")
print(f"비율: {percentage:.2f}%")

조건에 맞는 인원 수: 300명
전체 인원 수: 1203명
비율: 24.94%

In [ ]:
조건 = "SEX == '여' and HOPE_JSSFC_CMMN_CODE_SE_NM_1 == '건물 경비원(청사,학교,병원,상가,빌딩,공장 등)' and WORK_AREA_CMMN_CODE_SE_1_1 == '서울'"
filtered_df = df.query(조건)

filtered_count = len(filtered_df)

조건2 = '''SEX == '여' '''
filltered_df2 = df.query(조건2)

total_count = len(filltered_df2)

percentage = (filtered_count / total_count) * 100

print(f"조건에 맞는 인원 수: {filtered_count}명")
print(f"전체 인원 수: {total_count}명")
print(f"비율: {percentage:.2f}%")

조건에 맞는 인원 수: 0명
전체 인원 수: 1203명
비율: 0.00%

# 성별 대비 승인 비율

In [ ]:
조건 = "SEX == '남' and JBHNT_CRTFC_STTUS_CMMN_SE_NM == '승인' "
filtered_df = df.query(조건)

filtered_count = len(filtered_df)

조건2 = '''SEX == '남' '''
filltered_df2 = df.query(조건2)

total_count = len(filltered_df2)

percentage = (filtered_count / total_count) * 100

print(f"조건에 맞는 인원 수: {filtered_count}명")
print(f"전체 인원 수: {total_count}명")
print(f"비율: {percentage:.2f}%")

조건에 맞는 인원 수: 1069명
전체 인원 수: 2480명
비율: 43.10%

In [ ]:
조건 = "SEX == '남' and JBHNT_CRTFC_STTUS_CMMN_SE_NM == '알선' "
filtered_df = df.query(조건)

filtered_count = len(filtered_df)

조건2 = '''SEX == '남' '''
filltered_df2 = df.query(조건2)

total_count = len(filltered_df2)

percentage = (filtered_count / total_count) * 100

print(f"조건에 맞는 인원 수: {filtered_count}명")
print(f"전체 인원 수: {total_count}명")
print(f"비율: {percentage:.2f}%")

조건에 맞는 인원 수: 1240명
전체 인원 수: 2480명
비율: 50.00%

In [ ]:
조건 = "SEX == '남' and JBHNT_CRTFC_STTUS_CMMN_SE_NM == '알선대기' "
filtered_df = df.query(조건)

filtered_count = len(filtered_df)

조건2 = '''SEX == '남' '''
filltered_df2 = df.query(조건2)

total_count = len(filltered_df2)

percentage = (filtered_count / total_count) * 100

print(f"조건에 맞는 인원 수: {filtered_count}명")
print(f"전체 인원 수: {total_count}명")
print(f"비율: {percentage:.2f}%")

조건에 맞는 인원 수: 171명
전체 인원 수: 2480명
비율: 6.90%

In [ ]:
조건 = "SEX == '여' and JBHNT_CRTFC_STTUS_CMMN_SE_NM == '승인' "
filtered_df = df.query(조건)

filtered_count = len(filtered_df)

조건2 = '''SEX == '여' '''
filltered_df2 = df.query(조건2)

total_count = len(filltered_df2)

percentage = (filtered_count / total_count) * 100

print(f"조건에 맞는 인원 수: {filtered_count}명")
print(f"전체 인원 수: {total_count}명")
print(f"비율: {percentage:.2f}%")

조건에 맞는 인원 수: 568명
전체 인원 수: 1203명
비율: 47.22%

In [ ]:
조건 = "SEX == '여' and JBHNT_CRTFC_STTUS_CMMN_SE_NM == '알선대기' "
filtered_df = df.query(조건)

filtered_count = len(filtered_df)

조건2 = '''SEX == '여' '''
filltered_df2 = df.query(조건2)

total_count = len(filltered_df2)

percentage = (filtered_count / total_count) * 100

print(f"조건에 맞는 인원 수: {filtered_count}명")
print(f"전체 인원 수: {total_count}명")
print(f"비율: {percentage:.2f}%")

조건에 맞는 인원 수: 57명
전체 인원 수: 1203명
비율: 4.74%

In [ ]:
조건 = "SEX == '여' and JBHNT_CRTFC_STTUS_CMMN_SE_NM == '알선' "
filtered_df = df.query(조건)

filtered_count = len(filtered_df)

조건2 = '''SEX == '여' '''
filltered_df2 = df.query(조건2)

total_count = len(filltered_df2)

percentage = (filtered_count / total_count) * 100

print(f"조건에 맞는 인원 수: {filtered_count}명")
print(f"전체 인원 수: {total_count}명")
print(f"비율: {percentage:.2f}%")

조건에 맞는 인원 수: 578명
전체 인원 수: 1203명
비율: 48.05%